<h1>Let's add some Pirates!</h1>

<form action="/student" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  First Ship Name: <input type="text" name="ship_name_1">
  First Ship Type: <input type="text" name="ship_type_1">
  First Ship Booty: <input type="text" name="ship_booty_1">
  Second Ship Name: <input type="text" name="ship_name_2">
  Second Ship Type: <input type="text" name="ship_type_2">
  Second Ship Booty: <input type="text" name="ship_booty_2">
  <input type="submit">
</form>
